@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  font-family: "Poppins", sans-serif;
}

:root {
  --font-sans: "Poppins", sans-serif;
  --color-white-50: #d9ecff;
  --color-black-50: #1c1c21;
  --color-black-100: #0e0e10;
  --color-black-200: #282732;
  --color-blue-50: #839cb5;
  --color-blue-100: #2d2d38;
}

/* Utility Classes */
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Component Classes */
.padding-x {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

@media (min-width: 768px) {
  .padding-x {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

.padding-x-lg {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

@media (min-width: 768px) {
  .padding-x-lg {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

.section-padding {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  margin-top: 5rem;
  display: flex;
}

@media (min-width: 768px) {
  .section-padding {
    display: flex;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    margin-top: 10rem;
  }
}

.mt-responsive {
  margin-top: 10rem;
}

@media (min-width: 768px) {
  .mt-responsive {
    margin-top: 0;
  }
}

@media (min-width: 1280px) {
  .mt-responsive {
    margin-top: 5rem;
  }
}

/* Grid Classes */
.grid-base {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.grid-2-cols {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1.5rem;
}

@media (min-width: 768px) {
  .grid-2-cols {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.grid-3-cols {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1.5rem;
}

@media (min-width: 768px) {
  .grid-3-cols {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 1280px) {
  .grid-3-cols {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.grid-3-cols-md-tight {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1.25rem;
}

@media (min-width: 768px) {
  .grid-3-cols-md-tight {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 0;
  }
}

.grid-4-cols {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1.75rem;
}

@media (min-width: 768px) {
  .grid-4-cols {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 1280px) {
  .grid-4-cols {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

.grid-12-cols {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 2.5rem;
}

@media (min-width: 1280px) {
  .grid-12-cols {
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }
}

/* Hero Section */
.hero-layout {
  position: relative;
  z-index: 10;
  margin-top: 8rem;
  height: 80vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

@media (min-width: 768px) {
  .hero-layout {
    height: 100vh;
  }
}

@media (min-width: 1280px) {
  .hero-layout {
    margin-top: 5rem;
    align-items: center;
  }
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 30px;
  font-weight: 600;
  position: relative;
  z-index: 10;
  pointer-events: none;
}

@media (min-width: 768px) {
  .hero-text {
    font-size: 60px;
  }
}

.hero-text img {
  width: 2rem;
  height: 2rem;
  object-fit: contain;
}

@media (min-width: 768px) {
  .hero-text img {
    width: 2.5rem;
    height: 2.5rem;
  }
}

.hero-text .slide {
  position: absolute;
  padding-top: 0;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 30px;
  height: 48px;
  transform: translateY(0);
  overflow: hidden;
}

@media (min-width: 768px) {
  .hero-text .slide {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    height: 78px;
    transform: translateY(0.25rem);
  }
}

.hero-badge {
  background-color: var(--color-black-200);
  padding: 0.5rem 1rem;
  border-radius: 9999px;
  width: fit-content;
  font-size: 0.875rem;
  white-space: nowrap;
}

@media (min-width: 768px) {
  .hero-badge {
    font-size: 1rem;
  }
}

.hero-3d-layout {
  width: 100%;
  height: 100%;
  min-height: 50vh;
  position: absolute;
  top: 6rem;
  right: 0;
}

@media (min-width: 1280px) {
  .hero-3d-layout {
    width: 70%;
    top: -5rem;
    right: -5rem;
  }
}

/* Navbar */
.navbar {
  position: fixed;
  width: 100%;
  left: 50%;
  padding: 1.25rem;
  transform: translateX(-50%);
  z-index: 100;
  transition: all 0.3s ease-in-out;
}

@media (min-width: 768px) {
  .navbar {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

.navbar.scrolled {
  top: 0;
  background-color: #000;
}

.navbar.not-scrolled {
  top: 0;
  background-color: transparent;
}

@media (min-width: 768px) {
  .navbar.not-scrolled {
    top: 2.5rem;
  }
}

.navbar .inner {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo {
  color: var(--color-white-50);
  font-size: 1.25rem;
  font-weight: 600;
  transition: transform 0.3s;
}

@media (min-width: 768px) {
  .navbar .logo {
    font-size: 1.5rem;
  }
}

.navbar .logo:hover {
  transform: scale(1.05);
}

.navbar nav.desktop {
  display: none;
  align-items: center;
}

@media (min-width: 1024px) {
  .navbar nav.desktop {
    display: flex;
  }
}

.navbar nav.desktop ul {
  display: flex;
  gap: 2rem;
}

.navbar nav.desktop ul li {
  color: var(--color-white-50);
  position: relative;
}

.navbar nav.desktop ul li span {
  transition: color 0.3s;
}

.navbar nav.desktop ul li span:hover {
  color: #fff;
}

.navbar nav.desktop ul li .underline {
  position: absolute;
  bottom: -0.25rem;
  left: 0;
  width: 0;
  height: 0.125rem;
  background-color: #fff;
  transition: all 0.3s;
}

.navbar nav.desktop ul li:hover .underline {
  width: 100%;
}

.navbar .contact-btn {
  display: flex;
}

.navbar .contact-btn .inner {
  padding: 0.5rem 1.25rem;
  border-radius: 0.5rem;
  background-color: #fff;
  color: #000;
  transition: all 0.3s;
}

.navbar .contact-btn:hover .inner {
  background-color: var(--color-black-50);
}

.navbar .contact-btn .inner span {
  transition: color 0.3s;
}

.navbar .contact-btn:hover .inner span {
  color: #fff;
}

/* App Showcase */
.app-showcase {
  width: 100%;
  margin-top: 5rem;
  padding: 2.5rem 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .app-showcase {
    padding: 5rem;
  }
}

.app-showcase .showcaselayout {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  justify-content: space-between;
}

@media (min-width: 1280px) {
  .app-showcase .showcaselayout {
    flex-direction: row;
  }
}

.app-showcase .first-project-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: 1280px) {
  .app-showcase .first-project-wrapper {
    width: 60%;
  }
}

.app-showcase .first-project-wrapper .image-wrapper {
  height: 24rem;
  position: relative;
}

@media (min-width: 768px) {
  .app-showcase .first-project-wrapper .image-wrapper {
    height: 50vh;
  }
}

@media (min-width: 1280px) {
  .app-showcase .first-project-wrapper .image-wrapper {
    height: 70vh;
  }
}

.app-showcase .first-project-wrapper .image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.75rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.app-showcase .first-project-wrapper .text-content {
  margin-top: 1.25rem;
}

.app-showcase .first-project-wrapper .text-content > * + * {
  margin-top: 1.25rem;
}

.app-showcase .first-project-wrapper .text-content .badges {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.app-showcase .first-project-wrapper .text-content h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

@media (min-width: 768px) {
  .app-showcase .first-project-wrapper .text-content h2 {
    font-size: 1.875rem;
  }
}

@media (min-width: 1024px) {
  .app-showcase .first-project-wrapper .text-content h2 {
    font-size: 2.25rem;
  }
}

.app-showcase .project-list-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

@media (min-width: 768px) {
  .app-showcase .project-list-wrapper {
    flex-direction: row;
  }
}

@media (min-width: 1280px) {
  .app-showcase .project-list-wrapper {
    flex-direction: column;
    width: 40%;
  }
}

.app-showcase .project-list-wrapper .image-wrapper {
  height: 16rem;
  position: relative;
  border-radius: 0.75rem;
  padding: 0;
}

@media (min-width: 768px) {
  .app-showcase .project-list-wrapper .image-wrapper {
    height: 13rem;
  }
}

@media (min-width: 1024px) {
  .app-showcase .project-list-wrapper .image-wrapper {
    height: 18rem;
  }
}

@media (min-width: 1280px) {
  .app-showcase .project-list-wrapper .image-wrapper {
    height: 37vh;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
}

@media (min-width: 1536px) {
  .app-showcase .project-list-wrapper .image-wrapper {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

.app-showcase .project-list-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 0.75rem;
}

.app-showcase .project-list-wrapper h2 {
  font-size: 1.125rem;
  font-weight: 600;
  margin-top: 1.25rem;
}

@media (min-width: 768px) {
  .app-showcase .project-list-wrapper h2 {
    font-size: 1.25rem;
  }
}

@media (min-width: 1024px) {
  .app-showcase .project-list-wrapper h2 {
    font-size: 1.5rem;
  }
}

/* CTA Button */
.cta-wrapper {
  position: relative;
  z-index: 20;
  cursor: pointer;
}

.cta-button {
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--color-black-200);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.cta-button .bg-circle {
  position: absolute;
  right: -2.5rem;
  top: 50%;
  transform: translateY(-50%);
  transform-origin: center;
  width: 120%;
  height: 120%;
  border-radius: 50%;
  background-color: var(--color-white-50);
  transition: all 0.5s;
}

.cta-wrapper:hover .cta-button .bg-circle {
  width: 2.5rem;
  height: 2.5rem;
  right: 2.5rem;
}

.cta-button .text {
  text-transform: uppercase;
  font-size: 1rem;
  color: #000;
  transition: all 0.5s;
  transform: translateX(-1.25rem);
}

@media (min-width: 768px) {
  .cta-button .text {
    font-size: 1.125rem;
  }
}

@media (min-width: 1280px) {
  .cta-button .text {
    transform: translateX(0);
  }
}

.cta-wrapper:hover .cta-button .text {
  color: var(--color-white-50);
  transform: translateX(-1.25rem);
}

.cta-button .arrow-wrapper {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  position: absolute;
  right: 2.5rem;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.cta-wrapper:hover .cta-button .arrow-wrapper {
  background-color: var(--color-white-50);
}

.cta-button .arrow-wrapper img {
  width: 1.25rem;
  height: 1.25rem;
  transform: translateY(0);
  animation: bounce 1s infinite;
  transition: all 0.5s;
}

@media (min-width: 1280px) {
  .cta-button .arrow-wrapper img {
    transform: translateY(-8rem);
  }
}

.cta-wrapper:hover .cta-button .arrow-wrapper img {
  transform: translateY(0);
}

@keyframes bounce {
  0%,
  20%,
  53%,
  80%,
  100% {
    transform: translateY(0);
  }
  40%,
  43% {
    transform: translateY(-0.5rem);
  }
  70% {
    transform: translateY(-0.25rem);
  }
  90% {
    transform: translateY(-0.125rem);
  }
}

/* Card and Layout Elements */
.card-border {
  border: 1px solid var(--color-black-50);
  background-color: var(--color-black-100);
}

.marquee-item {
  width: 8rem;
}

@media (min-width: 768px) {
  .marquee-item {
    width: 10rem;
  }
}

.timeline-wrapper {
  position: absolute;
  top: 0;
  left: 1.25rem;
  height: 100%;
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) {
  .timeline-wrapper {
    left: 2.5rem;
  }
}

@media (min-width: 1280px) {
  .timeline-wrapper {
    left: 35.5vw;
  }
}

.timeline {
  position: absolute;
  z-index: 30;
  height: 110%;
  top: -2.5rem;
  width: 3.5rem;
  background-color: #000;
}

@media (min-width: 768px) {
  .timeline {
    width: 7rem;
  }
}

.timeline-logo {
  width: 2.5rem;
  height: 2.5rem;
  flex: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-black-50);
  background-color: var(--color-black-100);
}

@media (min-width: 768px) {
  .timeline-logo {
    width: 5rem;
    height: 5rem;
    transform: translateY(-1.75rem);
  }
}

.exp-card-wrapper {
  display: flex;
  flex-direction: column-reverse;
  gap: 2.5rem;
  justify-content: space-between;
}

@media (min-width: 1280px) {
  .exp-card-wrapper {
    flex-direction: row;
    gap: 5rem;
  }
}

.gradient-edge {
  width: 9rem;
  height: 100%;
  position: absolute;
  bottom: 0;
  z-index: 20;
}

/* Tech Cards */
.tech-card-animated-bg {
  position: absolute;
  left: 0;
  bottom: -100%;
  width: 100%;
  height: 100%;
  background-color: #2d3240;
  transition: all 0.7s;
}

.tech-card-content:hover .tech-card-animated-bg {
  bottom: 0;
}

.tech-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  position: relative;
  z-index: 10;
}

@media (min-width: 768px) {
  .tech-card-content {
    justify-content: center;
  }
}

@media (min-width: 1280px) {
  .tech-card-content {
    gap: 1.25rem;
    height: 50vh;
  }
}

.tech-card-content:hover {
  cursor: grab;
}

.tech-card-content p {
  font-size: 1.125rem;
  padding-bottom: 1.25rem;
  font-weight: 600;
  color: var(--color-white-50);
  text-align: center;
}

@media (min-width: 1280px) {
  .tech-card-content p {
    padding-bottom: 0;
  }
}

@media (min-width: 1536px) {
  .tech-card-content p {
    font-size: 1.5rem;
  }
}

.tech-grid {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1.25rem;
  margin-top: 4rem;
}

@media (min-width: 768px) {
  .tech-grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 2.5rem;
  }
}

@media (min-width: 1280px) {
  .tech-grid {
    grid-template-columns: repeat(5, minmax(0, 1fr));
    gap: 4rem;
  }
}

.tech-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 13rem;
  height: 15rem;
  position: relative;
}

/* Forms */
form label {
  display: block;
  color: var(--color-white-50);
  margin-bottom: 0.5rem;
}

form input,
form textarea {
  width: 100%;
  padding: 0.75rem 1rem;
  font-size: 0.875rem;
  background-color: var(--color-blue-100);
  border-radius: 0.375rem;
  border: none;
}

@media (min-width: 768px) {
  form input,
  form textarea {
    font-size: 1rem;
  }
}

form input::placeholder,
form textarea::placeholder {
  color: var(--color-blue-50);
}

form a {
  width: 100%;
  padding: 1rem;
  background-color: #fff;
  color: #000;
  font-weight: 600;
  border-radius: 0.375rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
}

form a img {
  display: inline-block;
}

/* Footer */
.footer {
  margin: 0.75rem 0;
  margin-top: 1.25rem;
  color: var(--color-white-50);
  padding: 0 1.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .footer {
    margin-top: 2.5rem;
    padding: 0 5rem;
  }
}

@media (min-width: 1280px) {
  .footer {
    padding: 0 5rem;
  }
}

.footer .footer-container {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1.25rem;
  width: 100%;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .footer .footer-container {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 0;
  }
}

.footer p {
  text-align: center;
  cursor: default;
}

@media (min-width: 768px) {
  .footer p {
    text-align: left;
  }
}

.footer .socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
}

.footer .socials .icon {
  border: 1px solid var(--color-black-50);
  background-color: var(--color-black-100);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.75rem;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  transition: all 0.5s;
}

@media (min-width: 768px) {
  .footer .socials .icon {
    width: 3rem;
    height: 3rem;
  }
}

.footer .socials .icon:hover {
  background-color: var(--color-black-50);
}

.footer .socials img {
  display: inline-block;
}

.card {
  --start: 0;
  position: relative;
  z-index: 40;
  overflow: hidden;
  transition: border-color 1s ease-in-out;
  border-radius: 0.75rem;
  padding: 2.5rem;
  margin-bottom: 1.25rem;
  break-inside: avoid-column;
}

.card::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 12px;
  border: 2px solid transparent;
  background: var(--gradient);
  background-attachment: fixed;
  mask: linear-gradient(#0000, #0000),
    conic-gradient(
      from calc((var(--start) - 15) * 1deg),
      #ffffff1f 0deg,
      white,
      #ffffff00 100deg
    );
  mask-composite: intersect;
  mask-clip: padding-box, border-box;
  opacity: 0;
  transition: 0.5s ease;
}

.glow {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  filter: blur(10px);
  filter: saturate(200);
}

.card:hover::before {
  opacity: 1;
}

.cardinfo {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  margin-bottom: 1.25rem;
}
